---
import { translations, defaultLang, type Language } from '../i18n/translations';

interface Props {
  lang?: Language;
}

const t = translations[Astro.props.lang || defaultLang];
---

<main>
  <h1>DATA LINK LAYER</h1>
  <ul>
    <li>IEEE 802.3 (Ethernet)</li>
    <li>IEEE 802.11 (Wi-Fi)</li>
    <li>PPP</li>
    <li>Frame Relay</li>
  </ul>
</main>
