---
import { translations, defaultLang, type Language } from '../i18n/translations';

interface Props {
  lang?: Language;
}

const t = translations[Astro.props.lang || defaultLang];
---

<main>
  <h1>PHYSICAL LAYER</h1>
  <ul>
    <li>Coaxial Cable</li>
    <li>Twisted Pair</li>
    <li>Fiber Optic</li>
    <li>Wireless</li>
  </ul>
</main>
