---
import '../styles/global.css';
import Footer from '../../ui/footer.astro';
import Navbar from '../../ui/navbar.astro';
import { type Language } from '../../i18n/translations';

interface Props {
  lang?: Language;
}

const { lang = 'es' } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TCPtrIP</title>
  </head>
  <body>
    <header>
      <Navbar currentPath={Astro.url.pathname} lang={lang} />
    </header>
    <main>
      <slot />
    </main>
    <Footer lang={lang} />
  </body>
</html>
